
.View {
    position: relative;
    background-color: #193548;
}

.View--splash {
    background-color: #000c17;
width: 100vw;
max-height: 100vh;
min-height: 90vh;
position: relative;
top: 0;
left: 0;
}