
.View {
    position: relative;
    background-color: #193548;
}

.View--splash {
    background-color: #000c17;
width: 100vw;
max-height: 100vh;
min-height: 90vh;
position: relative;
top: 0;
left: 0;
}


.SplitView {
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.SplitView1 {
    width: 100%;

    min-height: 10px;
}
.SplitView2 {
    width: 100%;

    min-height: 10px;
}